## What are the questions we want answered?
+ How many nights had the same exact setlist?
+ How much did the encore change?
+ When were the most changes instituted?
+ How different was night one from the last night?
+ Longest night, shortest night (worth mentioning he loves to play abridged versions of his songs)
+ How does he compare to other indie artists?
    + Clairo
    + Mk.gee


Some direct comparisons:
+ Night one vs night two in Chicago for Dijon and Clairo (can we do a fun visualization for this?)
+ Mk.gee DNM count

Overall statistics:
+ Of our subset, what was the average "set-iness"?
+ Where did Dijon fall on the distribution?
+ Are there differences based on the popularity of an artist?

In [55]:
# import packages
import pandas as pd
import json

In [56]:
# import data
setlist_data = pd.read_csv("../data/processed/analysis_dataset.csv")

## individual setlists for our three of greater interest
dijon = pd.read_csv("../data/processed/salt_shed_artists/dijon_setlists.csv")
clairo = pd.read_csv("../data/processed/salt_shed_artists/clairo_setlists.csv")
mk_gee = pd.read_csv("../data/processed/salt_shed_artists/mkgee_setlists.csv")

In [57]:
chicago_slope_dijon = dijon[dijon["city"]=="Chicago"].copy().reset_index()
chicago_slope_dijon["rank"] = chicago_slope_dijon.groupby("id")["index"].rank(method="first")*-1
chicago_slope_dijon.loc[chicago_slope_dijon["id"]=="634c7ac3", "night"] = "12/7/2025"
chicago_slope_dijon.loc[chicago_slope_dijon["id"]=="1b4c6960", "night"] = "12/8/2025"
chicago_slope_dijon = pd.pivot(chicago_slope_dijon,
                                columns="songs",
                                index="night",
                                values="rank").reset_index()

In [58]:
chicago_slope_dijon

songs,night,"""Nü Diamond",(Referee),Annie,Another Baby!,Automatic,Baby!,Big Mike’s,FIRE!,HIGHER!,...,Rewind,Rodeo Clown,Skin,TV Blues,Talk Down,The Dress,Yamaha,alley-oop,coogie,rock n roll
0,12/7/2025,NaN,-11.0,-6.0,-4.0,-14.0,-13.0,NaN,-8.0,-2.0,...,-12.0,-16.0,NaN,NaN,NaN,-7.0,-3.0,-10.0,-9.0,-5.0
1,12/8/2025,-8.0,-17.0,-9.0,-2.0,-16.0,-14.0,-10.0,-12.0,-6.0,...,-18.0,-20.0,-15.0,-13.0,-4.0,-19.0,-3.0,NaN,-5.0,-11.0

In [59]:
chicago_slope_dijon.to_clipboard(index=False)

In [39]:
chicago_slope_clairo = clairo[clairo["city"]=="Chicago"].copy().reset_index()
chicago_slope_clairo["rank"] = chicago_slope_clairo.groupby("id")["index"].rank(method="first")*-1
chicago_slope_clairo.loc[chicago_slope_clairo["id"]=="4354333f", "night"] = "10/16/2024"
chicago_slope_clairo.loc[chicago_slope_clairo["id"]=="3b507cd8", "night"] = "10/17/2024"
chicago_slope_clairo = pd.pivot(chicago_slope_clairo,
                                columns="songs",
                                index="night",
                                values="rank").reset_index()

In [40]:
chicago_slope_clairo.to_clipboard(index=False)

In [37]:
chicago_slope_clairo

songs,night,4EVER,Add Up My Love,Amoeba,Bags,Bambi,Echo,Everyone's in Love With You,Flaming Hot Cheetos,Glory of the Snow,...,Nomad,North,Partridge,Second Nature,Sexy to Someone,Sinking,Slow Dance,Softly,Terrapin,Thank You
0,Chicago Night 1,-15.0,-9.0,-17.0,-18.0,-7.0,-11.0,NaN,-5.0,-12.0,...,-1.0,-10.0,-16.0,-2.0,-19.0,-14.0,-13.0,-4.0,-8.0,-3.0
1,Chicago Night 2,-16.0,-9.0,-17.0,-18.0,-7.0,-11.0,-15.0,-5.0,-12.0,...,-1.0,-10.0,-14.0,-2.0,-19.0,NaN,-13.0,-4.0,-8.0,-3.0

In [25]:
# how many DNMs
mk_gee[mk_gee["songs"]=="DNM"].groupby(["id", "venue", "city"], as_index=False).size().sort_values("size", ascending =False)

          id                           venue           city  size
13  5b521f70                  Uptown Theater    Minneapolis    12
19   b53c1ba            Marathon Music Works      Nashville     8
11  53521f71                     Vic Theatre        Chicago     6
6   3b521c80      The Fillmore Silver Spring  Silver Spring     5
1   2b521c86                      Terminal 5       New York     5
9   4b521f7a  Citizens House of Blues Boston         Boston     5
0   23521c87                    Toad's Place      New Haven     5
10  4b521f7e                         History        Toronto     5
2   2b521ca2                      Tabernacle        Atlanta     4
7   3b521cac                  House of Blues         Dallas     3
12  5b517b44             Franklin Music Hall   Philadelphia     3
17  7b522254             Hollywood Palladium    Los Angeles     3
8   43521f7f              Brooklyn Paramount       Brooklyn     2
4   33521c9d               MegaCorp Pavilion        Newport     2
3   2b521ca6                Mercury Ballroom     Louisville     2
5    3521d5f                           Emo's         Austin     1
14  63522257                     Fox Theater        Oakland     1
15  6352226f                The Showbox SoDo        Seattle     1
16  73522275              Commodore Ballroom      Vancouver     1
18   b521d62               Summit Music Hall         Denver     1